<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>changeTokenByIncrementalKey</key>
	<dict>
		<key>PHAGraphRebuildTaskIncrementalKey</key>
		<dict>
			<key>persistentChangeToken</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAChC1UkbnVsbAgRGiQpMjdJTFFTVQAAAAAAAAEBAAAAAAAA
			AAwAAAAAAAAAAAAAAAAAAABb
			</data>
		</dict>
		<key>PHAMemoriesEnrichmentTask</key>
		<dict>
			<key>persistentChangeToken</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAChC1UkbnVsbAgRGiQpMjdJTFFTVQAAAAAAAAEBAAAAAAAA
			AAwAAAAAAAAAAAAAAAAAAABb
			</data>
		</dict>
		<key>PHASearchEnrichmentTask</key>
		<dict>
			<key>persistentChangeToken</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAChC1UkbnVsbAgRGiQpMjdJTFFTVQAAAAAAAAEBAAAAAAAA
			AAwAAAAAAAAAAAAAAAAAAABb
			</data>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>upgradeDate</key>
		<date>2025-03-30T21:20:51Z</date>
		<key>version</key>
		<integer>2</integer>
	</dict>
	<key>nonIncrementalRunRecords</key>
	<dict>
		<key>PHAGraphRebuildTask</key>
		<dict>
			<key>completionDate</key>
			<date>2025-04-01T03:27:32Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>108401</real>
			<key>version</key>
			<integer>617</integer>
		</dict>
		<key>PHAMemoriesEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2025-04-01T03:27:35Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>108404</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHASearchEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2025-04-01T03:27:32Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>108401</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>records</key>
	<dict>
		<key>FeaturedCollectionElectionTask</key>
		<dict>
			<key>completionDate</key>
			<date>2025-04-01T03:27:35Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>108404</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>GraphSearchEntityRankingDonationTask</key>
		<dict>
			<key>completionDate</key>
			<date>2025-04-01T03:27:35Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>108404</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAAssetRevGeocodeEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2025-04-01T03:27:32Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>108401</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAContactUpdateTask</key>
		<dict>
			<key>completionDate</key>
			<date>2025-04-01T03:27:32Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>108401</real>
			<key>version</key>
			<integer>617</integer>
		</dict>
		<key>PHAFeaturesUsageReportingTask</key>
		<dict>
			<key>completionDate</key>
			<date>2025-04-01T02:45:08Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>0</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAForcedHighlightEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2025-04-01T03:27:35Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>featureCode</key>
			<integer>102</integer>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAGraphRebuildTask</key>
		<dict>
			<key>completionDate</key>
			<date>2025-04-01T03:27:32Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>108401</real>
			<key>version</key>
			<integer>617</integer>
		</dict>
		<key>PHAHighlightCollectionEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2025-04-01T03:27:32Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>108401</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAHighlightEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2025-04-01T03:27:32Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>featureCode</key>
			<integer>102</integer>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAMediaSampleReportingTask</key>
		<dict>
			<key>completionDate</key>
			<date>2025-04-01T02:45:09Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>0</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAMemoriesEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2025-04-01T03:27:35Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>108404</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAMemoryElectionTask</key>
		<dict>
			<key>completionDate</key>
			<date>2025-04-01T03:27:35Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>featureCode</key>
			<integer>101</integer>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAPeopleSuggestionEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2025-04-01T03:27:35Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>108404</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHASearchEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2025-04-01T03:27:32Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>108401</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHASuggestionGenerationTask</key>
		<dict>
			<key>completionDate</key>
			<date>2025-04-01T03:27:35Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>featureCheckpoint</key>
			<integer>30</integer>
			<key>featureCode</key>
			<integer>100</integer>
			<key>fteInterval</key>
			<real>108404</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAUserBehaviorEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2025-04-01T03:27:35Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>108404</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
